@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

#wave{
  position: absolute;
  bottom: 100px;
}

#__next{
  overflow: hidden;
}

.instr p{
  margin: 0;
  padding: 0;
  width: 100px;
  text-align: center;
  /* transform: translateY(10px); */
}

.instr p:first-child{
  transform: translateY(-10px);
}

.benDiv > span{
  font-size: 1.2rem;
  padding: 5px 0;
  border-bottom: 2px solid white;
}

input{
  color: black;
  border: solid 2px #1d4ed8;
  padding: 5px 20px;
  border-radius: 5px;
  width: 300px;
}

input:focus{
  outline: none;
  border: solid 2px white;
  border-bottom: solid 2px #0c3fce;
}

.fi-ss-search{
  color: #1d4ed8;
}